

.header{
    display: grid;
    grid-template-columns: max-content max-content 1fr repeat(2, minmax(min-content, 3rem));
    align-content: center;
    align-items: center;
    justify-items: center;


    &__logo{
        height: 120px;
        width: 100%;
        object-fit: cover;
    }


}



.menu{

    &__icon{
        fill: white;
    }
    
}
.search{
    grid-column: 5 / 6;
}

.user-nav{
    grid-column: 4 / 5;
    grid-row: 1 / 1;
}

.icon{
    width: 3rem;
    height: 3rem;
    fill: white;
    
}