@import "abstract";

.header{
    background-color: var(--primary-color);
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    color: white;
    
}

.main-section{
    display: grid;
    grid-template-rows: repeat(2,min-content);
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}

.section-content{    
    overflow: hidden;
    background-color: white;
    height: 75vh;
}

.section-new-products{
    @include white-bk-mg-top;

}

.gallery-section{
    @include white-bk-big-mg-top;

}

.footer{
    grid-column: 1 / -1;
    background-color: white;
}








