:root{
    // COLOR VARIABLES
    --primary-color-light-2:rgba(173, 52, 52, .6);
    --primary-color: #AD3434;
    --primary-color-light-1:rgba(173, 52, 52, .94);
    --primary-color-dark: #862828;

    --secondary-color: #101D2C;


    --bk-light-color: #fff;

    --color-text: #2D2D2D;
    --color-text-light-black-1: #393939;
    --color-text-light-black-2: #737373;


    --light-gray-1: #F9F7F6;
    --light-gray-2: #AAA;

    --dark-gray-1: #54483A;
    --dark-gray-2: #6D5D4B;

    


    // FONT

    --font-primary: 'Nunito';
    --font-secondary: 'Quicksand';
    --font-display: 'Josefin Sans', sans-serif;

}

// Margin/Padding

$sm-gap-vertical: 1rem 0 1rem 0;
$sm-gap-horizontal: 0 1rem 0 1rem;

$md-gap-vertical: 2rem 0 2rem 0;
$md-gap-horizontal: 0 2rem 0 2rem;

$lg-gap-vertical: 3rem 0 3rem 0;
$lg-gap-horizontal: 0 3rem 0 3rem;
