:root{
    // COLOR VARIABLES
    --primary-color-light-2:rgba(173, 52, 52, .6);
    --primary-color: #AD3434;
    --primary-color-light-1:rgba(173, 52, 52, .94);
    --primary-color-dark: #862828;

    --secondary-color: #101D2C;


    --bk-light-color: #fff;

    --color-text: #2D2D2D;

    --light-gray-1: #F9F7F6;
    --light-gray-2: #AAA;

    --dark-gray-1: #54483A;
    --dark-gray-2: #6D5D4B;

    


    // FONT

    --font-primary: 'Nunito';
    --font-display: 'Josefin Sans', sans-serif;
}

