{% extends 'main.html'%}
{% load static %}
{% block content %}
<section>
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li>Catalog page</li>
    </ul>
</section>

<section class="catalog">

    <div class="catalog__product">
        <div class="catalog__photo">
            <img class="catalog__img" src="{% static 'img/galle-4.jpg' %}" alt="">
        </div>
        <span id="newTag" class="catalog__new-tag">
            New               
        </span>
        <div class="catalog__detail">
            <ul class="detail__list">
                <li>Product name: </li>
                <li>Price: </li>                        
            </ul>
        </div>
        <ul class="colorSection">
            <li> <span id="blue"></span> </li>
            <li> <span id="red"></span> </li>
            <li> <span id="black"></span> </li>
        </ul>
        <button class="btn--shop">Shop now</button>
    </div>

    <div class="catalog__product">
        <div class="catalog__photo">
            <img class="catalog__img" src="{% static 'img/galle-3.jpg' %}" alt="">
        </div>
        <span id="newTag" class="catalog__new-tag">
                        
        </span>
        <div class="catalog__detail">
            <ul class="detail__list">
                <li>Dress beach</li>
                <li>$ 35.50</li>                        
            </ul>
        </div>

        <ul class="colorSection">
            <li> <span id="blue"></span> </li>
            <li> <span id="red"></span> </li>
            <li> <span id="black"></span> </li>
        </ul>
        
    </div>

    <div class="catalog__product">
        <div class="catalog__photo">
            <img class="catalog__img" src="{% static 'img/galle-1.jpg' %}" alt="">
        </div>
        <span id="newTag" class="catalog__new-tag">
            New               
        </span>
        <div class="catalog__detail">
            <ul class="detail__list">
                <li>Product name: </li>
                <li>Price: </li>                        
            </ul>
        </div>
        <button class="btn--shop">Shop now</button>
    </div>

    <div class="catalog__product">
        <div class="catalog__photo">
            <img class="catalog__img" src="{% static 'img/galle-2.jpg' %}" alt="">
        </div>
        <span id="newTag" class="catalog__new-tag">
                        
        </span>
        <div class="catalog__detail">
            <ul class="detail__list">
                <li>Product name: </li>
                <li>Price: </li>                        
            </ul>
        </div>
        <button class="btn--shop">Shop now</button>
    </div>
</section>


{% endblock content %}